.takween {
  font-family: "BuTeX Takween", Amiri, "Noto Serif Arabic", serif;
}

.diwani {
  font-family: "Diwani Letter", Amiri, "Noto Serif Arabic", serif;
}

.diwaniOutline {
  font-family: "BuTeX Diwani Outline", "Diwani Letter", Amiri,
    "Noto Serif Arabic", serif;
}

.maghribi {
  font-family: "Almaghribi Warsh Quran", Amiri, "Noto Serif Arabic", serif;
}

:global(.mapping-row-enter):has(.takween)
  input[aria-label^="القيمة العربية"] {
  font-family: "BuTeX Takween", Amiri, "Noto Serif Arabic", serif;
}

:global(.mapping-row-enter):has(.diwani)
  input[aria-label^="القيمة العربية"] {
  font-family: "Diwani Letter", Amiri, "Noto Serif Arabic", serif;
}

:global(.mapping-row-enter):has(.diwaniOutline)
  input[aria-label^="القيمة العربية"] {
  font-family: "BuTeX Diwani Outline", "Diwani Letter", Amiri,
    "Noto Serif Arabic", serif;
}

:global(.mapping-row-enter):has(.maghribi)
  input[aria-label^="القيمة العربية"] {
  font-family: "Almaghribi Warsh Quran", Amiri, "Noto Serif Arabic", serif;
}
