.takween {
  font-family: "BuTeX Takween", Amiri, "Noto Serif Arabic", serif;
}

.diwani {
  font-family: "Diwani Letter", Amiri, "Noto Serif Arabic", serif;
}

.diwaniOutline {
  font-family: "BuTeX Diwani Outline", "Diwani Letter", Amiri,
    "Noto Serif Arabic", serif;
}

.maghribi {
  font-family: "Almaghribi Warsh Quran", Amiri, "Noto Serif Arabic", serif;
}
